<% include partials/header %>

<header class="jumbotron">
    <h1>Welcome to the Student Gallery</h1>
    <p>A place where students of Katherine England's Studio can post pictures of their art and receive feedback from their peers.</p>
</header>

<a href="/artpieces">Enter the Gallery</a>


<% include partials/footer %>