.thumbnail.thumbnail-detail{
  display: block;
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
  max-width: 800px;
  margin: 2px auto !important;
}

.thumbnail.thumbnail-detail img{
    width: 800px;
    height: 450px;
    object-fit: cover;
}


.thumbnail .caption-full {
    padding: 9px;
}

.comments-sidebar {
  padding: 15px;
  margin: 15px;
}
