.thumbnail img {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.thumbnail {
    padding: 0px;
}

.thumbnail .caption-full {
    padding: 9px;
}

.comments-sidebar {
  padding: 15px;
  margin: 15px;
}
