<% include ../partials/header %>

<div class="container">

    <header class="jumbotron">
        <h1>Student Gallery</h1>
        <p>Click on an artpiece for more information</p>
        <button><a href="/artpieces/new">Add New Artpiece</a></button>
    </header>


    <div class="row text-center" style="display: flex; flex-wrap:wrap;">
        <div class="col-lg-12">
            <h4>Our Most Popular Sites</h4>
        </div>

        <% artpieces.forEach(function(artpiece){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= artpiece.url %>">
                    <div class="caption">
                        <h4><%= artpiece.name %></h4>
                        <p>
                            <a class="btn btn-primary" href="/artpieces/<%= artpiece.id %>">View</a>
                        </p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

</div>

<% include ../partials/footer %>
